<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 card p-4 shadow-sm" id="article">
            <article class="blog-post">
                <h2 class="blog-post-title"><%= @article.title %></h2>
                <p class="blog-post-meta">Posted <%= time_ago_in_words(@article.created_at) %> ago by <a href="#">Sophie Bonneval</a></p>
                <p><%= simple_format(@article.description) %></p>
                <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-primary" %>
                <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %>
            </article>
        </div>
    </div>
    <%= link_to 'Return to all articles', articles_path, class: "row justify-content-center mt-4" %>
</div>